---
layout: default
---
<!-- Featured -->
<div id="featured">
	<div class="container">
		<!--<header>
			<h2>Welcome to Linear</h2>
		</header>-->
		<p>Meisser Economics is a research boutique founded by Luzius Meisser, computer scientist and economist. My vision is to build bigger, better, and more versatile economic models by leveraging modern software engineering and by betting on agent-based modeling. Today, most economic models consist of a system of equations. They are fundamentally mathematical and solved analytically or numerically. In contrast, agent-based models are fundamentally algorithmic. Their buildings blocks are stateful, encapsulated agents that interact with each other through open markets. They are solved by running them. While the cleanest way of specifying equation-based models is to use mathematical terms, the cleanest way of specifying agent-based models is source code. Accepting this view, the code becomes the model and all the tools of modern software engineering can be leveraged to work on it and to manage its complexity.</p>
	</div>
</div>

<!-- Main -->
	<div id="main">
		<div id="content" class="container">
		{% for post in paginator.posts %}
			<div class="row">
				<section class="8u -2u">
					<header>
						<a href="{{ site.prefix }}{{ post.url }}#main"><h2>{{ post.title }}</h2></a>
					</header>
					{{ post.excerpt }}
					<a href="{{ site.prefix }}{{ post.url }}">Read more...</a>
				</section>
			</div>
		{% endfor %}
		
			<div class="pagination" align="center">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}#main" class="previous">show newer posts </a>
			{% else %}
				<!--<span class="previous">Previous</span>-->
			{% endif %}
				<!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}#main" class="next"> show older posts</a>
			{% else %}
				<!--<span class="next ">Next</span>-->
			{% endif %}
		</div>
		
		</div>
	</div>
	
	<!-- Featured -->
<div id="featured">
	<div class="container">
		<div class="row">
			<section class="4u">
				<span class="pennant"><span class="fa fa-book"></span></span>
				<h3>Academic Collaboration</h3>
				<p>You are a world-class economist with an excellent academic track record and you have concrete ideas for leveraging agent-based simulations in your area of expertise?</p>
				<a href="/about" class="button button-style1">Get In Touch</a>
			</section>
			<section class="4u">
				<span class="pennant"><span class="fa fa-flask"></span></span>
				<h3>Economic Experiments</h3>
				<p>You want to simulate what the world would look like if we introduced basic income, joined/left the euro-zone, or adopted other political ideas given your assumptions?</p>
				<a href="/about" class="button button-style1">Get In Touch</a>
			</section>
			<section class="4u">
				<span class="pennant"><span class="fa fa-cogs"></span></span>
				<h3>Market Mechanics</h3>
				<p>You want to simulate the price dynamics resulting from the interaction of a heterogenous set of agents with known but non-trivial behavior in a financial market?</p>
				<a href="/about" class="button button-style1">Get In Touch</a>
			</section>

		</div>
	</div>
</div>
