<!DOCTYPE HTML>
<html>
<head>
	<title>{{site.title}}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{site.description}}" />
	<meta name="keywords" content="agent-based economics" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/init.js"></script>
	{% include google_analytics.html %}
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
</head>
<body>

	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">{{site.title}}</a></h1>
				<!-- <span class="tag">By TEMPLATED</span> -->
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}
	
	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>&ldquo;In using systems of adaptive agents to create a ’guess’, we are counting on the tendencies of these systems of adaptive agents, as plodding as they are, eventually to find their ways to equilibria that we economists (who, after all, made up the model!) have difficulty finding.&rdquo;</blockquote><a href="http://www.tomsargent.com/">Thomas Sargent</a> in '<a href=https://books.google.ch/books/about/Bounded_Rationality_in_Macroeconomics.html?id=UuJorun-W2kC>Bounded Rationality in Macroeconomics</a>'
			</section>
		</div>
	</div>


<!-- Footer 
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Get in touch</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
			</header>
			<ul class="contact">
				<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
				<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
			</ul>
		</section>
	</div>
</div>-->

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		Copyright: <a href="/about">Meisser Economics AG</a>, template by <a href="http://templated.co">TEMPLATED</a> and <a href="http://cloudcannon.com">Cloud Cannon</a>
	</div>
</div>

</body>
</html>
